@page
@model Portfolio.Pages.About

@{
    ViewData["Title"] = "About Me";
}

<main id="about">
    <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
        Let me tell you a few things...
    </h2>
    <div class="about-info">
        <img src="~/img/portrait2.jpg" alt="John Doe" class="bio-image">

        <div class="bio">
            <h3 class="text-secondary">BIO</h3>
            <p>Hi, I'm Nathan. A resourceful Software Engineer with +5 years of comprehensive expertise in C# Backend Systems ASP.NET Core, Frontend Frameworks, 
                and API Architecture with a willingness to learn and master Cloud Native, Systems Administration and Automated CI/CD. 
                Cross-platform Deployment specialist.</p>
        </div>

        <div class="job job-1">
            <h3>TheTurnLab Inc.</h3>
            <h6>Software Developer</h6>
            <ul>
                <li>Architected and Optimized Backend Ecosystems: Engineered 20+ robust RESTful API endpoints for SaaS platforms, 
                    utilizing .NET 8 and Clean Architecture to support cross-platform usage.</li>
                <li>
                    Reduced Code Redundancy by 80%: Systematically applied OOP Design Patterns 
                    and Dependency Injection to create maintainable, reusable service containers.
                </li>
                <li>
                    Performance Engineering: Optimized complex ORM queries and database indexing strategies to streamline financial reporting and cross-service data retrieval.
                </li>
                <li>
                    API Documentation & Standards: Specialist in OpenAPI (Swagger) integration, developing custom operation filters to automate complex requirement documentation.
                </li>
                <li>
                    Third-Party Integration: Built high-reliability notification and logging systems integrated with major payment gateways like Stripe and PayPal.
                </li>
            </ul>
        </div>

        <div class="job job-2">
            <h3>PureAV</h3>
            <h6>Software Developer</h6>
            <ul>
                <li>
                    Unified Development: Treating MVC, Razor Pages, and Blazor as a single ecosystem where the same underlying services and data models are shared.
                </li>
                <li>Engineering Excellence: Applied Dependency Injection and Service Containers to reduce code redundancy by 80%. 
                    Using View Components instead of Partial Views to encapsulate logic</li>
                <li>Specialization: building extensible, cloud-ready applications for e-commerce systems</li>
            </ul>
        </div>
        
    </div>
</main>