@page
@model Contact

@{
    ViewData["Title"] = "Contact Me";
}

<main id="contact">
    <h1 class="lg-heading">
        Contact
        <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
        This is how you can reach me...
    </h2>
    <div class="boxes">
        <div>
            <span class="text-secondary">Email: </span> nguyendinhnhat206@gmail.com
        </div>
        <div>
            <span class="text-secondary">Phone: </span> (437) 993 4303
        </div>
        <div>
            <span class="text-secondary">Address: </span> Toronto, Mississauga, Waterloo
        </div>
    </div>
</main>