@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome To My Portfolio";
    ViewData["HomePageBgImage"] = "bg-img";
}
<main id="home">
    <h1 class="lg-heading">
        Nathan <span class="text-secondary">Nguyen</span>
    </h1>
    <h2 class="sm-heading">
        Software Developer, Full Stack Developer
    </h2>
    
    <div class="icons">
        <a href="https://www.linkedin.com/in/dinh-nhat-nguyen-web-developer/">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/DinhNhat">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</main>
