@page "/my-work"
@model Portfolio.Pages.Work

@{
    ViewData["Title"] = "View My Work";
}

<main id="work">
    <h1 class="lg-heading">
        My
        <span class="text-secondary">Work</span>
    </h1>
    <h2 class="sm-heading">
        Check out some of my projects...
    </h2>
    <div class="projects">
        <div class="item">
            <a href="https://boardgame.nhatntu.live/swagger" target="_blank">
                <img src="~/img/projects/project1.jpg" alt="Project">
            </a>
            <a href="https://boardgame.nhatntu.live/swagger" target="_blank" class="btn-light">
                <i class="fas fa-eye"></i> BoardGameList
            </a>
            <a href="https://github.com/DinhNhat/boardgame-list" target="_blank" class="btn-dark">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
        <div class="item">
            <a href="https://bookstore.nhatntu.live" target="_blank">
                <img src="~/img/projects/project4.jpg" alt="Project">
            </a>
            <a href="https://bookstore.nhatntu.live" target="_blank" class="btn-light">
                <i class="fas fa-eye"></i> BookStore N-tire
            </a>
            <a href="https://github.com/DinhNhat/bookstore-n-tier" target="_blank" class="btn-dark">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
    </div>
</main>